.contact-details{
    width: 60%;
    margin: auto;
    margin-top: 5%;
 }

.example-card {
    max-width: 100%; 
}
  
.example-header-image {
    background-image: url('~/src/assets/images/cfm.png');
    background-size: cover;
 }
 


.card-subtitle{
    margin-left: 2em;
    font-weight: bold ;
    font-size: medium;
}
.card-content{
    margin-top: 2em;
    font-weight: bold ;
    font-size: medium;
}

.country{
    margin-left: 30%;
}

.address_title{
    background: rgb(206, 200, 200);
    text-align: center;
    font-family: Georgia;
}