#center{
    width: 80%;
    margin: auto;
   
}
.filter{
    margin-left: 1em;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans';
}
.forms-filter{
    width: 80%;
    background-color: rgb(206, 200, 200);
    margin: auto;
    margin-top: 5em;
    border-radius: 15px 15px 0px 0px;
}

.button-crud{
    width: 80;
    text-align: right;
    resize: horizontal;
}
.mat-form-field{
    margin-left: 1em;
}