.form-container{
    margin: auto;
    background-color: rgb(206, 200, 200);
    margin-top: 3em;
    padding: 1em;
    border-radius: 25px;
}
.icon-form{
    font-size: 100px;
}
.form-paragraph{
    color:rgb(34, 39, 34);
   
    font-weight: bold;
}
.add-address{
    width: 100%;
    text-align: right;
}
